body
{
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #FFFFFF;
  }

/* a {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
  } */

h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.solutions a {
  text-decoration: none;
}

.solutions-logo-w {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.solutions-logo-w-s {
  color: #2e2f42;
}

.solutions .solutions-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.solutions-studio:hover, .solutions-studio:active { 
  color: #404bbf;
}

.solutions-cont {
  font-style: normal;
}

.solutions-cont-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.solutions-cont-mail:hover, .solutions-cont-mail:active {
  color: #404bbf;
}

.foot-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}

footer {
  background-color: aqua;
}